/*-------------------------------------------------------------------------------------------*/
/* HEADER         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/*  Header Style   ||-----------*/
.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.boxed {
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
}
.header {
	/* background: #314555; */
}
.header {
	background: #4e9731;
	position: static;
	top: 0;
	z-index: 9999;
	width: 100%;
}

.header {
	position: static;
}

.logo, .nav-bg {
	position: relative;
	z-index: 9;
}
.logo a {
	display: inline-block;
	padding: 26px 0;
}

.logo img {
	width: 220px
}

.header .logo a {
	display: inline-block;
	padding: 15px 0 15px 0;
}
@media (min-width: 992px) {
	.header .logo a {
		padding: 0;
	}
}
.nav-wrap {
	background: transparent;
	transition: all 0.3s ease-in-out;
	z-index: 999;
	box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.13);
}
.stricky {
	background: #4e9731;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.menu {
	border: none;
	border-bottom: 3px solid #222;
	border-top: 3px solid #222;
	height: 20px;
	position: absolute;
	right: 20px;
	top:16px;
	width: 35px;
	background: none;
	z-index: 10;
}
.menu:after {
	position: absolute;
	top: 5px;
	right: 0;
	content: '';
	width: 100%;
	height: 3px;
	background: #222;
}
.stricky .menu:after {
	background: #fff;
}
.stricky .menu {
	border-color: #fff;
}
.header ul {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}
.header ul li {
	float: left;	
	position: relative;
}

.pay_btn{
	background:#ABA044;
	padding: 12px 15px !important;
	border-radius: 50px;
	color:#fff;
}


.reletiv_box .navigation ul li{
	margin-right: 28px;
	margin-bottom: 0px !important;
		
}


@media screen and (max-width: 1024px) {
	.reletiv_box .navigation ul li{
		margin-bottom: -27px !important;
	}
}


.reletiv_box .navigation ul li:last-child{
	margin-right: 0px;
}
.reletiv_box .navigation ul li a {
	font-size:14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
	
}
.reletiv_box .navigation > ul > li > a {
	display: block;
	padding:22px 0;
	color: #eee;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	outline: none;
	position: relative;
}
.reletiv_box .navigation > ul > li > a:before{
	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #1f2d30;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.reletiv_box .navigation > ul > li > a:hover:before{
	width: 100%;
    background-color: #fab702;
}
.reletiv_box .navigation > ul > li > a:hover{
	color: #fff !important;
}
.reletiv_box .navigation > ul > li:last-child a {
	padding-right: 0;
}
.header .reletiv_box .navigation .sub-nav {
	left: 0;
	border-top: 0;
	position: absolute;
	top:100%;
	width: 200px;
	z-index: 3;
	background-clip: padding-box;
	padding: 0;
	transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-moz-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-ms-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-o-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	opacity: 0;
	visibility: hidden;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.reletiv_box .navigation .sub-nav li {
    display: block;
    margin-bottom: 5px;
    position: relative;
    margin-right: 0;
    float: none;
}
.reletiv_box .navigation li:hover .sub-nav {
	opacity: 1;
	top: 100%;
	transition: top 0.3s ease 0s;
	-webkit-transition: top 0.3s ease 0s;
	visibility: visible;
}

.reletiv_box .navigation .sub-nav li:last-child {
	border-bottom: 0;
}
.reletiv_box .navigation .sub-nav li a {
	display: block;
	color: #242424;
	transition: all 0.3s ease-in-out;
    line-height: 30px;
    padding: 0 20px;
}
.reletiv_box .navigation .sub-nav li a:hover {
    color: #fab702;
    padding-left: 25px;
}
/*Top bar*/
.header .top-bar-section {
	background:#282828;
	padding:5px 0px;
}
.top-contact {
	float: left;
	text-align: center;
}
.top-social-icon {
	float: right;
}

.top-social-icon {
	text-align: center;
}
.top_loction ul li a {
	color: #fff;
	font-size: 14px;
}
.top-contact a i {
	padding-left: 5px;
	padding-right: 5px;
}
.top_loction ul li:first-child {
	margin: 0px;
}
.top_loction ul li {
	margin: 0px 0px 0px 25px;
}
.top_loction ul li a i {
	margin-right: 5px;
	color: #fff;
}
.top_loction ul li a:hover {
	color:#ffab03;
}
.icons-hover-black a{
	display: inline-block;
    font-size: 15px;
    line-height: 30px;
    padding: 0;
	color: #fff;
	transition: all .3s ease;
}
.icons-hover-black a:hover {
	color:#ffab03;
}
.icons-hover-black a i{
	    background: transparent;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.top_loction ul li {
		margin: 0px 0px 0px 10px;
	}
	
	.header .navigation ul li:last-child .sub-nav{
		left: auto;
		right: 0px;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.top-bar-section {
		display: none;
	}
	.header .reletiv_box .navigation > ul > li > a {
		padding: 20px 6px;
	}
	.header .reletiv_box .navigation ul li:last-child .sub-nav{
		left: auto;
		right: 0px;
	}
	.header .reletiv_box .navigation .sub-nav{
		width: 165px;
	}
}
@media (max-width: 991px) {
	.reletiv_box .navigation ul li{
		margin-right: 10px;
		margin-bottom: -27px !important;
	}

	.reletiv_box .navigation ul {
		padding-bottom: 40px;
	}

	
}


@media (max-width: 767px) {
	.header .top-bar-section{
		display: none;
	}
	.header .reletiv_box .navigation .sub-nav{
		width: 100%;
		position: static;
		background:#ccc;
	}

	.reletiv_box .navigation ul li{
		margin-bottom: 0 !important;
	}
	
	.pay_btn{
		border-radius: 0px;
		margin: 3px 0 -10px 0 !important;
		display: block;
	}

	.header ul, .header ul li {
		float: none !important;
	}

	.logo img{
		width: 140px;
	}

	.logo a {
		padding_: 29px 0px !important;
	}
	.header .logo a {
		padding:  10px 0 10px 0 !important;
	}
	.reletiv_box .navigation {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 9;
		background:rgba(34, 34, 34, 0.97);
	}
	
	.reletiv_box .navigation > ul > li > a, .reletiv_box .navigation > ul > li:last-child a, .header-1 .navigation > ul > li > a {
		padding: 10px 15px;
		color: #fff;
	}
	.header-2 .primary-header {
		border-bottom: 1px solid #fff;
		background: none;
	}
	.reletiv_box .navigation .sub-nav, .reletiv_box .navigation li.sub-menu .sub-nav, .reletiv_box .navigation li.sub-menu:hover .sub-nav {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		border-top: none;
		transition: inherit;
		-webkit-transition: inherit;
		padding: 0;
	}
	.reletiv_box .navigation ul li i {
		color: #fff;
		font-size: 25px;
		position: absolute;
		right: 15px;
		top: 9px;
		cursor: pointer;
		pointer-events: none;
	}
	.reletiv_box .navigation ul li ul {
		display: none;
	}
	.reletiv_box .navigation .on > .ion-ios-plus-empty:before {
		content: '\f462';
		font-family: "Ionicons";
	}
	.nf-col-padding {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header.top-bar-section{
	display: none;
}	
}