


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1921px) {


}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1440px) and (max-width: 1920.95px) {


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1440px) and (max-width: 1920.95px) {


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1200px) {
  
  
}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 992px) and (max-width: 1199.95px) {

  /*------------------------------------------*/
  /*   BASE
  /*------------------------------------------*/

  #country_list_id{
		width: 55%;
		margin-left: -6px;
		margin-top:-1px;
    top: 32.2em !important;
	}

}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 768px) and (max-width: 991.95px) { 

  /*------------------------------------------*/
  /*   BASE
  /*------------------------------------------*/

  
  #country_list_id{
		width: 54%;
		margin-top:-1px;
    top: 22.8em !important;
	}

  
  
  

}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (max-width: 767px) { 

  



}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 480px) and (max-width: 767.95px) {

  


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 221px) and (max-width: 479.95px) { /*Real mobile*/

  
  #country_list_id{
		width: 95%;
		margin-left:8px;
		margin-top:-2px;
		border: 1px solid #999;
		top: 14.6em !important;
    left: 0px !important;
	}

  .close-icon, .close-icon1 {
    margin: -3px 0 0 -18px;
    right: 3em;
  }

  .view_size{
    margin-top: 10px;
  }

  .count_items{
    font-size: 14.5px;
  }

  .data_table{
    height: 300px !important;
  }

  .img_1{
    margin: 0em 0 0 0px;
  }


}



@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		#small_tbl table, #small_tbl thead, #small_tbl tbody, #small_tbl th, #small_tbl td, #small_tbl tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		#small_tbl thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    #small_tbl tr {
      margin: 0 0 2rem 0;
    }
      
    #small_tbl tr:nth-child(odd) {
      background: #ccc;
    }
    
		#small_tbl td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
      padding-top: 30px !important;
		}
    
    #small_tbl td:first-child {
			border-top: 3px solid #3d7537 !important;
      padding-top: 30px !important;
		}

    #small_tbl td:last-child {
			border: none !important;
      padding-top: 30px !important;
		}

		#small_tbl td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 10px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
      padding-top: 5px !important;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		#small_tbl td:nth-of-type(1):before { content: "Polling Unit No"; }
		#small_tbl td:nth-of-type(2):before { content: "Polling Unit Name"; }
		#small_tbl td:nth-of-type(3):before { content: "Description"; }
	}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */




@media (max-width: 320.95px) { 


  



}